@use "../../sass/abstracts/" as *;

.container {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 71.25rem;
  padding: 1rem;
  margin: auto;

  &.fixed_menu {
    position: fixed;
    margin: auto;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
  }

  @include mq("small") {
    padding: 1.5rem 1rem;
  }
}

.hide_logo {
  visibility: hidden;
}

.large_logo {
  display: none;
  width: 8rem;
  z-index: 150;
  position: relative;

  @include mq("small") {
    display: block;
  }

  @include mq("large") {
    width: 10rem;
  }
}

.small_logo {
  display: block;
  z-index: 150;
  position: relative;

  @include mq("small") {
    display: none;
  }
}

.menu_button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 150;
  width: max-content;
  padding: 0;
  height: 1.5rem;

  @include mq("small") {
    height: 2rem;
  }

  & .burger_icon:first-of-type {
    transform: translateY(-0.2rem);
    transition: all 200ms;
  }

  & .burger_icon:last-of-type {
    transform: translateY(0.2rem);
    transition: all 200ms;
  }

  &.is_open {
    height: 2.25rem;

    & .burger_icon:first-of-type {
      transform: rotate(45deg) translate(0.25rem, 0.21rem);
    }

    & .burger_icon:last-of-type {
      transform: rotate(-45deg) translateX(-0.1rem);
    }

    @include mq("small") {
      height: 3.25rem;

      & .burger_icon:first-of-type {
        transform: rotate(45deg) translate(0.28rem, 0.25rem);
      }

      & .burger_icon:last-of-type {
        transform: rotate(-45deg) translateX(-0.1rem);
      }
    }
  }
}

.burger_icon {
  width: 2rem;
  height: 0.25rem;
  background-color: $c-charcoal;

  @include mq("small") {
    width: 2.75rem;
    height: 0.3125rem;
  }
}
