@use "../../sass/abstracts/" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 71.25rem;
  margin: auto;
  padding: 1rem;

  @include mq("small") {
    padding: 1.5rem 1rem;
  }
}

.large_logo {
  display: none;
  width: 8rem;
  z-index: 150;
  position: relative;

  @include mq("small") {
    display: block;
  }

  @include mq("large") {
    width: 10rem;
  }
}

.small_logo {
  display: block;
  z-index: 150;
  position: relative;

  @include mq("small") {
    display: none;
  }
}

.menu_button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 150;
  width: 2.5rem;
  height: 2rem;

  & .burger_icon:first-of-type {
    transform: translateY(-0.2rem);
    transition: all 200ms;
  }

  & .burger_icon:last-of-type {
    transform: translateY(0.2rem);
    transition: all 200ms;
  }

  &.is_open {
    & .burger_icon:first-of-type {
      transform: rotate(45deg) translate(0.15rem, 0.2rem);
    }

    & .burger_icon:last-of-type {
      transform: rotate(-45deg) translateX(-0.075rem);
    }
  }
}

.burger_icon {
  width: 100%;
  height: 3px;
  background-color: $c-charcoal;
}
