$c-charcoal: rgba(34, 32, 30, 1);
$c-charcoal-75: rgba(34, 32, 30, 0.75);
$c-charcoal-50: rgba(34, 32, 30, 0.5);
$c-charcoal-25: rgba(34, 32, 30, 0.25);
$c-charcoal-15: rgba(34, 32, 30, 0.15);
$c-charcoal-10: rgba(34, 32, 30, 0.1);
$c-charcoal-5: rgba(34, 32, 30, 0.5);

$c-ivory: #fff9f3;

$c-yellow: #f0b70c;
