@use "../../../sass/abstracts/" as *;

.section {
  padding: 2rem 1rem;

  @include mq("small") {
    padding: 3rem 1rem;
  }

  &:has(.portrait) {
    padding: 0 1rem;
  }
}

.video {
  &.portrait {
    > div {
      padding: unset !important;
    }

    iframe {
      position: unset !important;
      height: 100vh !important;
      padding: 2rem 0 !important;
    }
  }
}
