@use "../../../sass/abstracts/" as *;

.section {
  padding: 3rem 1rem;
  text-align: center;

  @include mq("small") {
    padding: 4rem 1rem;
  }
}

.title {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;

  & span {
    display: block;
  }
}

.description {
  max-width: 55rem;
  margin: auto;
}
