@use "../../../sass/abstracts/" as *;

.section {
  padding: 2rem 1rem;
  text-align: center;

  @include mq("small") {
    padding: 3rem 1rem;
  }
}

.title {
  display: flex;
  justify-content: center;

  & span {
    display: block;
  }
}

.description {
  max-width: 55rem;
  margin: 1.5rem auto 0 auto;
}
