@use "../../../sass/abstracts/" as *;

.section {
  background-color: $c-charcoal-5;

  padding: 3rem 0;

  @include mq("small") {
    padding: 4rem 0;
  }
}

.title {
  text-align: center;
}

.description {
  text-align: center;
  margin-bottom: 1rem;
  color: $c-charcoal-75;

  @include mq("small") {
    margin-bottom: 1.5rem;
  }
}

.buttons {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  @include mq("x-small") {
    flex-direction: row;
    gap: 1rem;
  }
}
