@use "../../../sass/abstracts/" as *;

.images_container {
  padding: 3rem 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @include mq("small") {
    flex-direction: row;
  }

  @include mq("small") {
    padding: 4rem 0;
  }
}
