@use "../../sass/abstracts/" as *;

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;

  & .required {
    color: $c-error;
  }
}

.input {
  width: 100%;
  border-radius: 5px;
  background-color: $c-charcoal-5;
  border: none;
  padding: 0.5rem;

  &:focus {
    outline: 2px solid $c-yellow;
  }
}

.textarea {
  width: 100%;
  border-radius: 5px;
  background-color: $c-charcoal-5;
  border: none;
  padding: 0.5rem;

  &:focus {
    outline: 2px solid $c-yellow;
  }
}
