@use "../../sass/abstracts/" as *;

.section {
  padding: 2rem 1rem;

  @include mq("small") {
    padding: 3rem 1rem;
  }
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  display: grid;
  gap: 2rem;

  @include mq("small") {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq("medium") {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
