@use "../../../sass/abstracts/" as *;

.section {
  overflow: hidden;
  position: relative;

  margin-bottom: 2rem;

  @include mq("small") {
    margin-bottom: 3rem;
  }
}

.video_container {
  position: relative;
  width: 100vw;

  @include mq("large") {
    max-height: 80vh;
  }
}

.video {
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: $c-charcoal-10;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
  padding: 5rem;
}

.logo {
  position: relative;

  @include mq("medium") {
    &.Small {
      max-width: 30rem;
      max-height: 20rem;
    }

    &.Medium {
      max-width: 40rem;
      max-height: 25rem;
    }

    &.Large {
      max-width: 50rem;
      max-height: 30rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}