@use "../../../sass/abstracts/" as *;

.section {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;

  @include mq("small") {
    margin-bottom: 3rem;
  }

  &.full_screen {
    .video_container {
      @include mq("large") {
        position: relative;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        max-height: none;
      }

      .video {
        @include mq("large") {
          padding: 0;
          position: unset;
        }
      }

      iframe {
        @include mq("large") {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100vw;
          height: 100vh;
          transform: translate(-50%, -50%);

          @media (min-aspect-ratio: 16/9) {
            height: 56.25vw;
          }

          @media (max-aspect-ratio: 16/9) {
            width: 177.78vh;
          }
        }
      }
    }
  }
}

.video_container {
  @include mq('large') {
    max-height: 80vh;
  }
}

.video {
  padding-top: 56.25%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: $c-charcoal-10;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
  padding: 5rem;
}

.logo {
  position: relative;

  @include mq("medium") {
    &.Small {
      max-width: 30rem;
      max-height: 20rem;
    }

    &.Medium {
      max-width: 40rem;
      max-height: 25rem;
    }

    &.Large {
      max-width: 50rem;
      max-height: 30rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}