@use "../../../sass/abstracts/" as *;

.section {
  padding: 3rem 1rem;

  @include mq("small") {
    padding: 4rem 1rem;
  }
}

.image {
  & img {
    object-fit: cover;
    border-radius: 10px;
  }
}
