@use "../../../sass/abstracts/" as *;

.faqs_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.container {
  background-color: $c-yellow;
  border-radius: 5px;
  display: block;

  & a {
    color: inherit;
  }
}

.accordion_button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  transition: all 200ms;
  color: $c-charcoal;
  text-align: left;
  gap: 1rem;

  &:hover {
    color: $c-ivory;
  }
}

.button_icon_span {
  display: flex;
}

.accordion_title {
  & * {
    font-weight: 500;

    @include mq("small") {
      font-size: 1.125rem;
    }
  }
}

.accordion_button_icon {
  width: 2rem;
  height: 2rem;
}

.disclosure_panel {
  background-color: $c-yellow;
  border-radius: 5px;
}

.content {
  padding: 0.5rem 1rem 1rem 1rem;
}
